{% extends 'main.html.twig' %}

{% block title %}Edit Noticia{% endblock %}

{% block formSection %}
    <h1>Edit Noticia</h1>

    {{ include('noticia/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
