{% extends 'main.html.twig' %}

{% block title %}Nuevo Evento
{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Añadir nuevo evento</h1>
	{{ include('noticia/_form.html.twig') }}
{% endblock %}
