{% extends 'main.html.twig' %}

{% block title %}New Noticia
{% endblock %}

{% block formSection %}
	<h1 class='text-center'>Añadir nueva noticia</h1>
	{{ include('noticia/_form.html.twig') }}
{% endblock %}
