{% extends 'base.html.twig' %}

{% block title %}Edit Pieza{% endblock %}

{% block body %}
    <h1>Edit Pieza</h1>

    {{ include('pieza/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pieza_index') }}">back to list</a>

    {{ include('pieza/_delete_form.html.twig') }}
{% endblock %}
