{% extends 'base.html.twig' %}

{% block title %}New Partitura{% endblock %}

{% block body %}
    <h1>Create new Partitura</h1>

    {{ include('partitura/_form.html.twig') }}

    <a href="{{ path('partitura_index') }}">back to list</a>
{% endblock %}
