{% extends 'main.html.twig' %}

{% block title %}Edit Socio{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Editar socio</h1>
    {{ include('socio/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}
