{% extends 'main.html.twig' %}

{% block title %}New Socio
{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Añadir nuevo socio</h1>
	{{ include('socio/_form.html.twig') }}
{% endblock %}
