{% extends 'main.html.twig' %}

{% block title %}New User{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Añadir nuevo usuario</h1>
    {{ include('user/_form.html.twig') }}
{% endblock %}
