{% extends 'main.html.twig' %}

{% block title %}New Banda{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Añadir nueva banda</h1>
    {{ include('banda/_form.html.twig') }}
{% endblock %}
