<form method="post" action="{{ path('instrumento_delete', {'id': instrumento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instrumento.id) }}">
    <button class="btn">Delete</button>
</form>
