{% extends 'main.html.twig' %}

{% block title %}Instrumentos{% endblock %}

{% block formSection %}
    <h1>Instrumentos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrumento in instrumentos %}
            <tr>
                <td>{{ instrumento.id }}</td>
                <td>{{ instrumento.Nombre }}</td>
                <td>
                    <a href="{{ path('instrumento_show', {'id': instrumento.id}) }}">show</a>
                    <a href="{{ path('instrumento_edit', {'id': instrumento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
