{% extends 'main.html.twig' %}

{% block title %}New Instrumento{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Añadir nuevo instrumento</h1>
    {{ include('instrumento/_form.html.twig') }}
{% endblock %}
