{% extends 'main.html.twig' %}

{% block title %}New Alumno{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Añadir nuevo alumno</h1>
    {{ include('alumno/_form.html.twig') }}
{% endblock %}
