{% extends 'base.html.twig' %}

{% block title %}New Pieza{% endblock %}

{% block body %}
    <h1>Create new Pieza</h1>

    {{ include('pieza/_form.html.twig') }}

    <a href="{{ path('pieza_index') }}">back to list</a>
{% endblock %}
