{% extends 'main.html.twig' %}

{% block title %}New Musico
{% endblock %}

{% block formSection %}
	<h1 class='text-center mt-5'>Añadir nuevo musico</h1>
	{{ include('musico/_form.html.twig') }}
{% endblock %}
