{% extends "base.html.twig" %}
{% block body %}
	<header>
		<nav class='navbar navbar-expand-lg navbar-light bg-light'>
			<div class='container-fluid'>
				<button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation'>
					<span class='navbar-toggler-icon'></span>
				</button>
				<a class='navbar-brand' href='/home'>
					<img src='/images/logoLira.png' alt='' style='width: 4rem'>
				</a>
				{% if is_granted('ROLE_ADMIN') %}
					<div class='collapse navbar-collapse' id='navbarTogglerDemo03'>
						<ul class='navbar-nav me-auto mb-2 mb-lg-0'>
							<li class='nav-item dropdown'>
								<a class='nav-link dropdown-toggle' id='navbarDropdown' role='button' data-bs-toggle='dropdown' data-target='#dropdown1' aria-expanded='false'>
									Eventos
								</a>
								<ul class='dropdown-menu' aria-labelledby='navbarDropdown' id='dropdown1'>
									<li>
										<a class='dropdown-item' href='/admin/noticia/new'>Crear</a>
									</li>
									<li>
										<a class='dropdown-item' href='/admin/noticia/all'>Listar</a>
									</li>
								</ul>
							</li>


							<li class='nav-item dropdown'>
								<a class='nav-link dropdown-toggle' id='navbarDropdown3' role='button' data-bs-toggle='dropdown' data-target='#dropdown3' aria-expanded='false'>
									Intrumentos
								</a>
								<ul class='dropdown-menu' aria-labelledby='navbarDropdown3' id='dropdown3'>
									<li>
										<a class='dropdown-item' href='/admin/instrumento/new'>Crear</a>
									</li>
									<li>
										<a class='dropdown-item' href='/admin/instrumento/all'>Listar</a>
									</li>
								</ul>
							</li>

							<li class='nav-item dropdown'>
								<a class='nav-link dropdown-toggle' id='navbarDropdown4' role='button' data-bs-toggle='dropdown' data-target='#dropdown4' aria-expanded='false'>
									Socios
								</a>
								<ul class='dropdown-menu' aria-labelledby='navbarDropdown4' id='dropdown4'>
									<li>
										<a class='dropdown-item' href='/admin/socio/new'>Crear</a>
									</li>
									<li>
										<a class='dropdown-item' href='/admin/socio/all'>Listar</a>
									</li>
								</ul>
							</li>

							<li class='nav-item dropdown'>
								<a class='nav-link dropdown-toggle' id='navbarDropdown5' role='button' data-bs-toggle='dropdown' data-target='#dropdown5' aria-expanded='false'>
									Alumnos
								</a>
								<ul class='dropdown-menu' aria-labelledby='navbarDropdown5' id='dropdown5'>
									<li>
										<a class='dropdown-item' href='/admin/alumno/new'>Crear</a>
									</li>
									<li>
										<a class='dropdown-item' href='/admin/alumno/all'>Listar</a>
									</li>
								</ul>
							</li>


							<li class='nav-item dropdown'>
								<a class='nav-link dropdown-toggle' id='navbarDropdown8' role='button' data-bs-toggle='dropdown' data-target='#dropdown8' aria-expanded='false'>
									Musicos
								</a>
								<ul class='dropdown-menu' aria-labelledby='navbarDropdown8' id='dropdown8'>
									<li>
										<a class='dropdown-item' href='/admin/musico/new'>Crear</a>
									</li>
									<li>
										<a class='dropdown-item' href='/admin/musico/all'>Listar</a>
									</li>
								</ul>
							</li>


							<li class='nav-item dropdown'>
								<a class='nav-link dropdown-toggle' id='navbarDropdown10' role='button' data-bs-toggle='dropdown' data-target='#dropdown10' aria-expanded='false'>
									Usuarios
								</a>
								<ul class='dropdown-menu' aria-labelledby='navbarDropdown10' id='dropdown10'>
									<li>
										<a class='dropdown-item' href='/admin/usuario/new'>Crear</a>
									</li>
									<li>
										<a class='dropdown-item' href='/admin/usuario/all'>Listar</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div>
						<a class='nav-link' href='/logout'>
							<img src='/images/svg/logout.svg' alt='ilustracion para hacer logout' style='width:2em'>
						</a>
					</div>
				</div>
			{% endif %}
		</nav>
	</header>

	<section class='container-fluid min-vh-100'>
		{% block formSection %}{% endblock %}
	</section>

	<footer class='p-3' style='background-color : #A52A2A'>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-12'>
					<div class='col text-center text-light'>
						LIRA CARCAIXENTINA CARCAIXENT (Valencia)
					</div>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}
