{% extends "layout.html.twig" %}

{% block formSection %}
	<h1 class='text-center'>Bienvenido</h1>
	<div class='mt-5'>
		<img src='/uploads/noticia_images' alt='' style='height: 35rem'>
	</div>
{% endblock %}
