{% extends "layout.html.twig" %}

{% block formSection %}
	<h1 class='text-center'>Bienvenido
		{{userName}}</h1>
	<div class='d-flex justify-content-center'>
		<img src='/images/asurance.png' class='img-fluid' alt='Sample image' style='width: 50%'>
	</div>
{% endblock %}
